*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;    
}

body{
    background-color: rgb(118, 123, 152);  
}

.calc{
    background-color: rgb(36, 42, 76);
}

.conteiner-botoes{
    display: flex;
    align-items: flex-end;    
    width: 170px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;    
    background-color: rgb(36, 42, 76); 
    
      
}

.botao{
    
    margin: 0px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(52, 57, 87);
    border: none;
    
    
}
.botao:hover{
    background-color: rgb(103, 114, 151);
}

.botao-igual{   
    margin: 0px;    
    color: white;
    width: 40px;
    height: 106px;    
    background-color: rgb(255, 54, 99);
    border: none;
    
}
.botao-igual:hover{
    background-color: rgb(255, 106, 139);
}

.botao-vermelho{
    margin: 0px;
    width: 40px;
    height: 40px;
    color: rgb(255, 54, 99);
    background-color: rgb(79, 85, 111);
    border: none;
    

}
.botao-vermelho:hover{
    background-color: rgb(103, 114, 151);
}
.botao-delete{
    margin: 0px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: rgb(52, 57, 87);
    border: none;
    
}
.botao-delete:hover{
    background-color: rgb(103, 114, 151);
}

/* .tela-display{
    display: flex;
    height: 48vh;
    width: 180px;
    background-color: rgb(41, 41, 41);
    margin-left: 36%;
    margin-top: 22%;
} */